.input-container {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 10px 0;
}
.text-input {
  display: block;
  padding: 8px;
  border: 1px solid rgba(95, 95, 95, 0.173);
  border-radius: 5px;
  width: 95%;
  box-sizing: border-box;
  resize: vertical;
  min-height: 50px;
  max-height: 99%; 
  outline: none;
}

.text-input::placeholder {
  font-style: italic;
}